#tabNav ul {
  width: 512px;
}

#industryContent {
  padding: 10px 0 50px;
}

#industryContent > div {
  line-height: 180%;
  font-size: 14px;
  color: #666;
  display: none;
}

#industryContent > div p {
  text-indent: 2em;
}